:root {
    --dark-color: #463f3a;
    --darkgrey-color: #8a817c;
    --grey-color: #bcb8b1;
    --light-color: #f4f3ee;
    --skin-color: #eb2326;
    --boxShadow: 0px 0px 8px rgba(0, 0, 0, 0.24), 0px 0px 1px rgba(0, 0, 0, 0.16);
}

.dark-color {
    color: var(--dark-color);
}

.darkgrey-color {
    color: var(--darkgrey-color);
}

.grey-color {
    color: var(--grey-color);
}

.light-color {
    color: var(--light-color);
}

.skin-color {
    color: var(--skin-color);
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

/* HEADER */
#player-picker-header {
    background-color: var(--darkgrey-color);
    height: 200px;
    display: flex;
    padding: 20px;
}

#player-picker-logo-wrapper {
    margin-right: 15px;
}

#player-picker-logo-wrapper img {
    height: 70px;
    width: 70px;
    margin-top: 18px;
}

.player-picker-header-title {
    margin-top: 8px;
    margin-bottom: 8px;
}

.player-picker-header-text {
    margin: 0;
    transition: 0.2s;
}

.player-picker-header-link:hover {
    color: var(--skin-color);
}

/* PLAYERS */
#player-picker-players {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    margin-top: -80px;
}

.player-item {
    border: 1px solid transparent;
    background-color: var(--darkgrey-color);
    box-shadow: var(--boxShadow);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.player-item * {
    opacity: 0.5;
}

.player-item:hover {
    background-color: var(--grey-color);
    transform: scale(1.05);
}

.player-item img {
    width: 100%;
    margin-top: 15px;
}

.player-item-info {
    margin: 0;
}

.player-item-info-last {
    margin-bottom: 8px;
    font-size: 12px;
}

.active-player, .active-player:hover {
    transform: scale(1.1);
    border: 1px solid var(--skin-color);
    background-color: var(--grey-color);
}

.active-player * {
    opacity: 1;
}

/* STATS */
#player-picker-stats {
    margin-top: -183px;
    height: 500px;
    background-color: var(--dark-color);
}

#player-picker-stats-inner {
    position: relative;
    top: 200px;
}