:root {
    --dark-color: #463f3a;
    --darkgrey-color: #8a817c;
    --grey-color: #bcb8b1;
    --light-color: #f4f3ee;
    --skin-color: #e0afa0;
    --boxShadow: 0px 0px 8px rgba(0, 0, 0, 0.24), 0px 0px 1px rgba(0, 0, 0, 0.16);
}

.dark-color {
    color: var(--dark-color);
}

.darkgrey-color {
    color: var(--darkgrey-color);
}

.grey-color {
    color: var(--grey-color);
}

.light-color {
    color: var(--light-color);
}

.skin-color {
    color: var(--skin-color);
}

.bold-text {
    font-weight: 600;
}

* {
    font-family: 'Open Sans', sans-serif;
    border: none;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
}

/* HEADER */
#player-picker-header {
    background-color: var(--darkgrey-color);
    height: 200px;
    display: flex;
    padding: 20px;
}

#player-picker-logo-wrapper {
    margin-right: 15px;
}

#player-picker-logo-wrapper img {
    height: 70px;
    width: 70px;
    margin-top: 18px;
}

.player-picker-header-title {
    margin-top: 8px;
    margin-bottom: 8px;
}

.player-picker-header-text {
    margin: 0;
    transition: 0.2s;
}

.player-picker-header-link:hover {
    color: var(--skin-color);
}

/* PLAYERS */
#player-picker-players {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    margin-top: -80px;
}

.player-item {
    border: 1px solid transparent;
    background-color: var(--darkgrey-color);
    box-shadow: var(--boxShadow);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.player-item * {
    opacity: 0.5;
}

.player-item:hover {
    background-color: var(--grey-color);
    transform: scale(1.05);
}

.player-item img {
    width: 100%;
    margin-top: 15px;
}

.player-item-info {
    margin: 0;
}

.player-item-info-last {
    margin-bottom: 8px;
    font-size: 12px;
}

.active-player,
.active-player:hover {
    transform: scale(1.1);
    border: 1px solid var(--skin-color);
    background-color: var(--grey-color);
}

.active-player * {
    opacity: 1;
}

/* STATS */
#player-picker-stats {
    margin-top: -183px;
    background-color: var(--dark-color);
}

#player-stats-role {
    display: inline;
    padding: 3px 8px;
    border: 1px solid var(--grey-color);
    border-radius: 4px;
    font-size: 14px;
}

#player-picker-stats-inner {
    position: relative;
    top: 200px;
    background-color: var(--dark-color);
    padding-bottom: 75px;
}

#player-stats-top {
    text-align: center;
    z-index: 100;
}

#player-picker-stats-inner-grid {
    width: 80%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

.player-picker-stats-box {
    background-color: var(--darkgrey-color);
    padding: 15px;
}

.player-stats-box-titles {
    margin-bottom: 8px;
}

#player-stats-name,
#player-stats-age,
#player-stats-rating,
#player-stats-kd,
#player-stats-hs,
#player-stats-adr,
#player-stats-kast {
    display: flex;
    justify-content: space-between;
}

#player-stats-name *,
#player-stats-age *,
#player-stats-rating *,
#player-stats-kd *,
#player-stats-hs *,
#player-stats-adr *,
#player-stats-kast * {
    margin: 3px;
}

#player-stats-image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 400px;
    opacity: 0.4;
}